@inherits LayoutComponentBase

    <div style=" margin: 0 auto;">

        <div  style=" margin: 0 auto;">
            <h1 class="box-title">Buy Sell Exchange books</h1>
        </div>
        <div>
            @Body
        </div>
    </div>
